{
    "ip_address": "{{.Address}}",
    "hostname": "{{.Hostname}}",
    "isp": "{{.ISP}}",
    "city": "{{.City}}",
    "country": "{{.Country}}",
    "country_code": "{{.CountryCode}}",
    "location": "{{.Geo}}"
}
