services:
  ip-service:
    build: ./service
    container_name: ip-service-prod
    restart: always
    ports:
      - "80:8080"
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
        driver: "json-file"
        options:
            max-size: "50m"
            max-file: "5"
